* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: sans-serif;
  background-color: #a4b0be;
  color: #fff; }

.container {
  max-width: 1200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column; }

h1.place {
  color: #fff;
  text-shadow: 1px 1px #000;
  display: block; }

.restart {
  position: absolute;
  top: calc(50vh - 40px);
  right: 100px;
  height: 40px;
  width: 80px;
  right: 0;
  color: #5352ed;
  border: none;
  border-radius: 3px 3px 0;
  cursor: pointer; }
  .restart:hover {
    color: white;
    background-color: #5352ed; }
  .restart:focus {
    outline: none; }

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px; }

.carousel-cell {
  width: 100%;
  height: 50vh;
  min-height: 250px;
  background-size: cover;
  background-position: bottom;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }

.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.progress-bar {
  height: 6px;
  width: 0;
  background: #5352ed; }

p {
  font-size: 18px; }

.description {
  text-align: center; }

#map {
  width: 100%;
  background-color: grey;
  height: 50vh;
  min-height: 250px; }
